@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-guminert), ui-sans-serif, system-ui, sans-serif;
  --font-guminert: var(--font-guminert);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-guminert), ui-sans-serif, system-ui, sans-serif;
}

@layer components {
  .btn-underline {
    @apply pb-1.25 inline-flex justify-center items-center gap-4 relative text-gray-200 text-lg font-semibold leading-7;

    &::before {
      content: "";
      @apply w-full h-[1.5px] bg-gray-200 absolute bottom-0 left-0;
      transform-origin: right;
      transform: scaleX(1) translateZ(0);
      backface-visibility: hidden;
      will-change: transform;
    }

    &:hover::before {
      animation: underline-sweep 0.8s ease-in-out;
    }

    .btn-text {
      @apply relative inline-block overflow-hidden h-8 leading-8;

      span {
        @apply block transition-transform duration-500 ease-in-out;
      }
      span:first-child {
        @apply group-hover:-translate-y-full;
      }
      span:last-child {
        @apply absolute top-full left-0 group-hover:-translate-y-full;
      }
    }

    .btn-icon {
      @apply relative inline-flex w-6 h-6 overflow-hidden;

      svg {
        @apply absolute inset-0 transition-transform duration-500 ease-in-out;
      }
      svg:first-child {
        @apply group-hover:-translate-y-full group-hover:translate-x-full;
      }
      svg:last-child {
        @apply -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0;
      }
    }
  }
  .btn-normal {
    @apply pb-1.25 inline-flex items-center gap-2 relative text-gray-200 font-semibold leading-7;
    .btn-text {
      @apply relative inline-block overflow-hidden h-8 leading-8;
      span {
        @apply block transition-transform duration-500 ease-in-out;
      }
      span:first-child {
        @apply group-hover:-translate-y-full;
      }
      span:last-child {
        @apply absolute top-full left-0 group-hover:-translate-y-full;
      }
    }

    .btn-icon {
      @apply relative inline-flex w-5 h-5 overflow-hidden;

      svg {
        @apply absolute inset-0 transition-transform duration-500 ease-in-out h-5;
      }
      svg:first-child {
        @apply group-hover:-translate-y-full group-hover:translate-x-full;
      }
      svg:last-child {
        @apply -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0;
      }
    }
  }

  @keyframes underline-sweep {
    0% {
      transform-origin: right;
      transform: scaleX(1) translateZ(0);
    }
    50% {
      transform-origin: right;
      transform: scaleX(0) translateZ(0);
    }
    50.01% {
      transform-origin: left;
      transform: scaleX(0) translateZ(0);
    }
    100% {
      transform-origin: left;
      transform: scaleX(1) translateZ(0);
    }
  }

  .btn-primary {
    @apply pl-7 pr-3 py-2 rounded-full bg-white text-black inline-flex justify-center items-center gap-5 text-xl font-semibold transition-all duration-300;

    .btn-text {
      @apply relative inline-block overflow-hidden h-8 leading-8;

      span {
        @apply block transition-transform duration-500 ease-in-out;
      }
      span:first-child {
        @apply group-hover:-translate-y-full;
      }
      span:last-child {
        @apply absolute top-full left-0 group-hover:-translate-y-full;
      }
    }

    .btn-icon {
      @apply relative flex items-center justify-center w-12 h-12 overflow-hidden bg-black text-white rounded-full;

      svg {
        @apply absolute w-6 h-6 transition-transform duration-300 ease-in-out;
      }
      svg:first-child {
        @apply group-hover:-translate-y-full group-hover:translate-x-full;
      }
      svg:last-child {
        @apply -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0;
      }
    }
  }

  .section-title {
    @apply text-gray-200 text-5xl font-extrabold leading-19.5 tracking-tight overflow-hidden;
    span {
      @apply text-neutral-500;
    }
  }

  .sub-title {
    @apply text-neutral-200 text-lg font-semibold mb-4;
  }

  .lines {
    overflow: hidden;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.stat-item {
  opacity: 0.2;
  transition: opacity 0.4s ease-in-out;
}

.stat-item.is-active {
  opacity: 1;
}

.nav-link {
  @apply relative inline-block pb-1;

  &::after {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-px bg-white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
  }

  &:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
}
