@font-face {
    font-family: 'Guminert';
    src: url('Guminert-Medium.woff2') format('woff2'),
        url('Guminert-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Guminert';
    src: url('Guminert.woff2') format('woff2'),
        url('Guminert.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Guminert Semi';
    src: url('Guminert-SemiBold.woff2') format('woff2'),
        url('Guminert-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Guminert Extra';
    src: url('Guminert-ExtraBold.woff2') format('woff2'),
        url('Guminert-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

